<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mail</title>
    <link rel="stylesheet" href="css/mail.css">
</head>
<body>
        
    <div class="mail-wrapper">
        <header class="mail-header">
            <img src="images/logo-white.svg" width="120" >
        </header><!-- Header -->

        <div class="mail-body">
            <h1 class="title">There is an error in your XML</h1>
            <p>See code below for the cause of the error</p>

            <div class="code">
                ...
                <div class="level-1">
                    &lt;item&gt;
                        <div class="level-2 error">
                            &lt;title&gt;XML title&lt;/title&gt;
                        </div>
            
                        <div class="level-2">
                            &lt;description&gt;
                                <div class="level-3">
                                    &lt;link&gt;
                                        https://report.az/maliyye/amb-elektron-imza-uzre-sertifikatlasma-sistemini-modernlesdirir/
                                    &lt;/link&gt;
                                </div>
                            &lt;/description&gt;
                        </div>
            
                        <div class="level-2">
                            &lt;pubDate&gt;Mon, 28 Oct 2019 15:53:25 +0400&lt;/pubDate&gt;
                        </div>

                        <div class="level-2">
                            &lt;category&gt;Biznes və maliyyə&lt;/category&gt;
                        </div>
                    &lt;/item&gt;
                </div>
                ...
            </div>

        </div>

        <footer class="mail-footer">
            <p>This inbox is not attended so please don’t reply to this email. This is a service email. You will receive these no matter what your marketing communication preferences are.</p>
        </footer><!-- Footer -->
    </div>
    
</body>
</html>