footer.dashboard-footer
    .container
        .row
            .col
                .inner.flex
                    .copyrights
                        p RSS.az
                        p Copyright © 2018 Bütün hüquqlar qorunur.
                    |
                    |
                    .reference
                        p Saytdakı materialların istifadəsi zamanı istinad edilməsi vacibdir. Məlumat internet səhifələrində istifadə edildikdə hiperlink vasitəsi ilə istinad mütləqdir.