.to-top.active
    i.fa.fa-angle-up
|
|
footer
    .container
        .row
            .col
                .inner.flex
                    .copyrights
                        p RSS.az
                        p Copyright © 2018 Bütün hüquqlar qorunur.
                        |
                        |
                        ul.socials
                            li
                                a(href="#", target="_blank")
                                    i.fa.fa-facebook
                            li
                                a(href="#", target="_blank")
                                    i.fa.fa-twitter
                            li
                                a(href="#", target="_blank")
                                    i.fa.fa-linkedin
                            li
                                a(href="#", target="_blank")
                                    i.fa.fa-youtube-play
                    |
                    |
                    .reference
                        ul.static-links
                            li
                                ="\n"
                                a(href="static.html") About us
                            li
                                ="\n"
                                a(href="static.html") Contacts
                            li
                                ="\n"
                                a(href="static.html") Privacy policy
                        |
                        |
                        p Saytdakı materialların istifadəsi zamanı istinad edilməsi vacibdir. Məlumat internet səhifələrində istifadə edildikdə hiperlink vasitəsi ilə istinad mütləqdir.