header.main-header
    .container
        .row
            .col-12.flex
                .menu-toggler.visible-1200
                    ="\n"
                    span
                    ="\n"
                    span
                    ="\n"
                    span
                |
                |
                .logo-langs.flex
                    .logo
                        ="\n"
                        a(href="index.html")
                            ="\n"
                            img(src=require("../../images/logo.png"))
                            ="\n"
                    |
                    |
                    .dropdown.langs.hidden-1200
                        ="\n"
                        a(href="#" class="dropdown-toggle" role="button" id="langs" data-toggle="dropdown") AZ
                        |
                        |
                        |
                        .dropdown-menu
                            ="\n"
                            a(href="#" class="dropdown-item") RU
                            ="\n"
                            a(href="#" class="dropdown-item") EN
                |
                |
                nav.main-menu.hidden-1200
                    ul
                        li
                            a(href="category.html") Son xəbərlər
                        li
                            a(href="category.html") Əsas xəbərlər
                        li
                            a(href="category.html") İqtisadiyyat
                        li
                            a(href="category.html") Cəmiyyət
                        li
                            a(href="category.html") Siyasət
                        li
                            a(href="category.html") İdman
                        li
                            a(href="category.html") Mədəniyyət
                        li
                            a(href="category.html") Dünya
                |
                |
                .login-link
                    ="\n"
                    a(href="login.html") Giriş
                        ="\n"
                        i.material-icons arrow_forward_ios
    |
    |
    .mobile-sidebar
        .sidebar-body
            ul
                li
                    a(href="category.html") Son xəbərlər
                li
                    a(href="category.html") Əsas xəbərlər
                li
                    a(href="category.html") İqtisadiyyat
                li
                    a(href="category.html") Cəmiyyət
                li
                    a(href="category.html") Siyasət
                li
                    a(href="category.html") İdman
                li
                    a(href="category.html") Mədəniyyət
                li
                    a(href="category.html") Dünya
            |
            |
            ul.langs
                li
                    ="\n"
                    a(href="#") AZ
                li
                    ="\n"
                    a(href="#") RU
                li
                    ="\n"
                    a(href="#") EN
    // Mobile menu
// Header
|
|
