.to-top
    i.icon-angle-up
|
|
footer
    .container
        .row
            .col-12
                .inner.flex
                    .copyrights
                        p RSS.az
                        p Copyright © 2018 Bütün hüquqlar qorunur.
                        |
                        |
                        ul.socials
                            li
                                a(href="#", target="_blank")
                                    i.icon-facebook
                            li
                                a(href="#", target="_blank")
                                    i.icon-twitter
                            li
                                a(href="#", target="_blank")
                                    i.icon-linkedin
                            li
                                a(href="#", target="_blank")
                                    i.icon-youtube-play
                    |
                    |
                    .reference
                        ul.static-links
                            li
                                ="\n"
                                a(href="static.html") About us
                            li
                                ="\n"
                                a(href="static.html") Contacts
                            li
                                ="\n"
                                a(href="static.html") Privacy policy
                        |
                        |
                        p Saytdakı materialların istifadəsi zamanı istinad edilməsi vacibdir. Məlumat internet səhifələrində istifadə edildikdə hiperlink vasitəsi ilə istinad mütləqdir.