/* ***** -- inline news ***** */
.inline-news {
    position: relative;
    padding: 10px 0;

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 40px;
        right: 15px;
        bottom: -1px;
    }
    
    &:after {
        border-bottom: 1px solid #dcdcdc;
    }

    &.highlighted {
        padding: 10px 14px !important;
        background: rgba(#a50015, .1);

        &:before,
        &:after {
            left: 0;
            right: 0;
        }

        &:before {
            top: 0;
            bottom: auto;
            border-top: 1px solid  rgba(122, 1, 15, 0.35);
        }

        &:after {
            border-color: rgba(122, 1, 15, 0.35);
        }

        .title {
            font-family: "Montserrat Bold", sans-serif;
            color: #7a010f;
        }

        .url, .date, .description {
            color: #7a010f;
        }
    }

    .title {
        display: flex;
        align-items: flex-start;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 14px;
        line-height: 1.3;

        &:hover {
            text-decoration: underline;
        }

        img {
            width: 15px;
            margin: 0 10px 0 0;
            transform: translateY(1px);
        }
    }

    .url, .date {
        display: block;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
        padding-left: 25px;
        opacity: .5;
    }

    .description {
        font-size: 12px;
        padding-left: 25px;
        margin: 4px 0;
        opacity: .9;
    }

    &:first-child {
        padding-top: 0;
    }
}

/* ***** -- news block ***** */
.news-block {
    .image {
        position: relative;
        padding-bottom: 74%;

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .source-date {
        justify-content: space-between;
        margin: 10px 0;

        span {
            font-size: 10px;
            line-height: 1.4;
            opacity: .5;
        }
    }

    .source {
        display: inline-flex;
        align-items: center;

        img {
            width: 13px;
            margin: 0 5px 0 0;
        }
    }

    .title {
        display: block;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 14px;
        line-height: 1.3;
        transition: .2s ease;

        &:hover {
            color: #7a010f;
        }
    }

    .description {
        font-size: 12px;
        margin: 10px 0 0 0;
        opacity: .5;
    }

    &.big {
        .title {
            font-size: 16px;
        }
    }
}

/* ***** -- backgrounded news ***** */
.backgrounded-news {
    position: relative;
    color: #fff;

    a {
        color: inherit;
    }

    .image {
        a {
            display: block;
        }

        img {
            width: 100%;
        }
    }

    .info {
        padding: 20px 25px;
        background: #a50015;
    }

    .source-title {
        align-items: flex-start;
    }

    .source {
        display: inline-flex;
        align-items: center;
        margin: 0 0 7px 0;

        img {
            width: 15px;
            margin: 0 5px 0 0;
        }

        span {
            font-size: 10px;
            line-height: 1.4;
            opacity: .9;
        }
    }

    .title {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 1.3;
        font-family: "Montserrat SemiBold", sans-serif;

        &:hover {
            text-decoration: underline;
        }
    }

    .description {
        font-size: 12px;
        margin: 7px 0;
        opacity: .9;
    }

    .date {
        display: block;
        font-size: 12px;
        opacity: .5;
    }
}

/* ***** -- floated news ***** */
.floated-news {
    position: relative;
    padding: 10px 0;

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 25px;
        right: 0px;
        bottom: -1px;
    }
    
    &:after {
        border-bottom: 1px solid #dcdcdc;
    }

    .image {
        width: 50%;
        padding-left: 14px;
        order: 1;
    }

    .info {
        width: 50%;
    }

    .title {
        display: flex;
        align-items: flex-start;
        font-family: "Montserrat SemiBold", sans-serif;
        font-size: 14px;
        line-height: 1.3;

        &:hover {
            text-decoration: underline;
        }

        img {
            width: 15px;
            margin: 0 10px 0 0;
            transform: translateY(1px);
        }
    }

    .description {
        font-size: 12px;
        margin: 7px 0;
        opacity: .9;
        padding-left: 25px;
    }

    .date {
        display: block;
        font-size: 12px;
        opacity: .5;
        padding-left: 25px;
    }
}

@media (min-width: 575px) {
    /* ***** -- backgrounded news ***** */
    .backgrounded-news {
        color: #474747;
        padding: 10px 14px;
        background: rgba(#a50015, .1);

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: -1px;
        }

        &::before {
            top: 0;
            bottom: auto;
            border-top: 1px solid rgba(122, 1, 15, 0.35);
        }
        
        &:after {
            border-bottom: 1px solid rgba(122, 1, 15, 0.35);
        }

        .image {
            display: none;
        }

        .info {
            padding: 10px 0;
            background: transparent;
        }

        .source-title {
            flex-wrap: nowrap;
        }

        .source {
            margin: 0;

            img {
                margin: 0 10px 0 0;
            }

            span {
                display: none;
            }
        }

        .title {
            display: block;
            width: 100%;
            font-size: 14px;
            font-family: "Montserrat Bold", sans-serif;
            color: #7a010f;
        }

        .description {
            padding-left: 25px;
            margin: 4px 0;
            color: #7a010f; 
        }

        .date {
            padding-left: 25px;
            color: #7a010f;
        }
    }

    /* ***** -- floated news ***** */
    .floated-news {
        padding: 10px 14px;
        background: rgba(#a50015, .1);

        &:before,
        &:after {
            left: 0px;
            right: 0px;
        }

        &::before {
            top: 0;
            bottom: auto;
            border-top: 1px solid rgba(122, 1, 15, 0.35);
        }
        
        &:after {
            border-bottom: 1px solid rgba(122, 1, 15, 0.35);
        }

        .image {
            display: none;
        }

        .info {
            width: 100%;
        }

        .title {
            display: flex;
            font-size: 14px;
            font-family: "Montserrat Bold", sans-serif;
            color: #7a010f;
        }

        .description {
            padding-left: 25px;
            margin: 4px 0;
            color: #7a010f; 
        }

        .date {
            padding-left: 25px;
            color: #7a010f;
        }
    }

}

@media (min-width: 767px) {
    /* ***** -- inline news ***** */
    .inline-news {
        &:before,
        &:after {
            left: 25px;
            right: 0;
        }
    }
}

@media (max-width: 992px) {
    /* ***** -- news block ***** */
    .category-page {
        .news-block {
            .title {
                font-size: 12px;
            }
    
            &.big {
                .title {
                    font-size: 14px;
                }
            }
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- inline news ***** */
    .inline-news {
        margin: 0 -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

}