extends ../layout/layout.pug

block content
    section.not-found
        .container
            .row
                .col-12
                    h1 Not Found (#404)
                    p The above error occurred while the Web server was processing your request.
                    p Please contact us if you think this is a server error. Thank you.