extends ../layout/dashboard-layout.pug

block content
    div(id="w1-success-0" class="alert-success alert fade in")
        button(type="button" class="close" data-dismiss="alert" aria-hidden="true") ×
        | Dəyişiliklər yadda saxlanıldı
    |
    |
    section.generated-blocks
        .container
            .row
                .col
                    .white-panel
                        h2.block-title Generated Posts
                        |
                        |
                        .custom-slider
                            .slider-track
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image5.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image4.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image3.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image2.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image1.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image5.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image4.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image3.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image4.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                                .slide
                                    .slide-post
                                        .slide-post__image(style="background-image: url("+require("../../images/news/image3.jpg")+")")
                                        .gradient(style="background-image: linear-gradient(to-bottom, rgba(?, ?, ?, 0), rgba(?, ?, ?, .8), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))")
                                        |
                                        |
                                        a(href="#" target="_blank" class="slide-post__info")
                                            ="\n"
                                            span Lorem ipsum dolor sit amet consectetur adipisicing elit. officia?
                                            ="\n"
                                |
                                |
                            // Slider Track
                            |
                            |
                            .prev-slide
                            .next-slide
                        // Custom Slider