extends ../layout/dashboard-layout.pug

block content
    section.reset-password
        .container
            .row
                .col-lg-10.offset-lg-1
                    .white-panel
                        h2.block-title Şifrənin dəyişilməsi
                        |
                        |
                        form(action="#" method="POST")
                            .row
                                .col-sm-6
                                    .form-group
                                        label Köhnə şifrə
                                        input(type="password" class="form-control" required)
                                // Col
                                |
                                |
                                .col-sm-6
                                    .form-group
                                        label Yeni şifrə
                                        input(type="password" class="form-control" required)
                                // Col
                                |
                                |
                                .col-sm-6
                                    .form-group
                                        label Yeni şifrəni tərkaklayın
                                        input(type="password" class="form-control" required)
                                // Col
                                |
                                |
                                .col-sm-6
                                    button(class="btn-custom submit-edit-password") Yadda saxla
                                        i.material-icons arrow_forward_ios
                                // Col
    // Reset Password Page